{% extends 'base.html.twig' %}
{% block body %}
    <!-- Page Content -->
    <br>
    <br>
    <br>

    <div class="featured container no-gutter">

        <div class="row posts">
            <div id="vtt_bleu" class="item new col-md-4">
                <div class="featured-item">
                  <img src="assets/images/vtt_bleu.jpg" alt="vtt_bleu">
                  <h4>VTT</h4>
                  <h6>250€</h6>
                  <div  class="main-button" align="right">
                    <a href="{{ path('Panier') }}">Panier</a>
                  </div>
                </div>
              </a>
            </div>
            <div id="velo_electrique" class="item high col-md-4">
                <div class="featured-item">
                  <img src="assets/images/velo_electrique.jpg" alt="velo_electrique">
                  <h4>Electrique</h4>
                  <h6>600€</h6>
                  <div  class="main-button" align="right">
                    <a href="{{ path('Panier') }}">Panier</a>
                  </div>
                </div>
              </a>
            </div>
            <div id="bmx_noir" class="item low col-md-4">
                <div class="featured-item">
                  <img src="assets/images/bmx_noir.jpg" alt="bmx_noir">
                  <h4>BMX</h4>
                  <h6>450€</h6>
                  <div  class="main-button" align="right">
                    <a href="{{ path('Panier') }}">Panier</a>
                  </div>
                </div>
              </a>
            </div>
            <div id="bmx_jaune" class="item low col-md-4">
                <div class="featured-item">
                  <img src="assets/images/bmx_jaune.jpg" alt="bmx_jaune">
                  <h4>BMX Enfant</h4>
                  <h6>400€</h6>
                  <div  class="main-button" align="right">
                    <a href="{{ path('Panier') }}">Panier</a>
                </div>
              </div>
              </a>
            </div>
            <div id="vtt_noir" class="item new high col-md-4">
                <div class="featured-item">
                  <img src="assets/images/vtt_noir.jpg" alt="vtt_noir">
                  <h4>VTT Enfant</h4>
                  <h6>300€</h6>
                  <div  class="main-button" align="right">
                    <a href="{{ path('Panier') }}">Panier</a>
                  </div>
                </div>
              </a>
            </div>
            <div id="vtt_jaune" class="item new col-md-4">
                <div class="featured-item">
                  <img src="assets/images/vtt_jaune.jpg" alt="vtt_jaune">
                  <h4>VTT</h4>
                  <h6>250€</h6>
                  <div  class="main-button" align="right">
                    <a href="{{ path('Panier') }}">Panier</a>
                  </div>
                </div>
              </a>
            </div>
            <div id="electrique_rouge" class="item new high col-md-4">
                <div class="featured-item">
                  <img src="assets/images/electrique_rouge.jpg" alt="electrique_rouge">
                  <h4>Electrique</h4>
                  <h6>950€</h6>
                  <div  class="main-button" align="right">
                    <a href="{{ path('Panier') }}">Panier</a>
                  </div>
                </div>
              </a>
            </div>
            <div id="electrique_bleu" class="item low new col-md-4">
                <div class="featured-item">
                  <img src="assets/images/electrique_bleu.jpg" alt="electrique_bleu">
                  <h4>Electrique</h4>
                  <h6>700€</h6>
                  <div  class="main-button" align="right">
                    <a href="{{ path('Panier') }}">Panier</a>
                  </div>
                </div>
              </a>
            </div>
            <div id="velo_rouge" class="item new col-md-4">
                <div class="featured-item">
                  <img src="assets/images/velo_rouge.jpg" alt="velo_rouge">
                  <h4>BMX</h4>
                  <h6>650€</h6>
                  <div  class="main-button" align="right">
                    <a href="{{ path('Panier') }}">Panier</a>
                  </div>
                </div>
              </a>
            </div>
        </div>
    </div>

    <!-- fin article -->


{% endblock %}
