{% extends 'base.html.twig' %}
{% block body %}
    <!-- Page Content -->
    <br>
    <br>
    <br>

    <div class="featured container no-gutter">

        <div class="row posts">
            <div id="1" class="item new col-md-4">
                <div class="featured-item">
                  <img src="assets/images/vtt1.jpg" alt="Item 1">
                  <h4>VTT</h4>
                  <h6>250€</h6>
                  <div  class="main-button" align="right">
                    <a href="{{ path('BMX') }}">Panier</a>
                  </div>
                </div>
              </a>
            </div>
            <div id="2" class="item high col-md-4">
                <div class="featured-item">
                  <img src="assets/images/electrique.jpg" alt="Item 2">
                  <h4>Eléctrique</h4>
                  <h6>600€</h6>
                  <div  class="main-button" align="right">
                    <a href="{{ path('BMX') }}">Panier</a>
                  </div>
                </div>
              </a>
            </div>
            <div id="3" class="item low col-md-4">
                <div class="featured-item">
                  <img src="assets/images/bmx1.jpg" alt="Item 3">
                  <h4>BMX</h4>
                  <h6>450€</h6>
                  <div  class="main-button" align="right">
                    <a href="{{ path('BMX') }}">Panier</a>
                  </div>
                </div>
              </a>
            </div>
            <div id="4" class="item low col-md-4">
                <div class="featured-item">
                  <img src="assets/images/bmxenfant.jpg" alt="Item 4">
                  <h4>BMX Enfant</h4>
                  <h6>400€</h6>
                  <div  class="main-button" align="right">
                    <a href="{{ path('BMX') }}">Panier</a>
                </div>
              </div>
              </a>
            </div>
            <div id="5" class="item new high col-md-4">
                <div class="featured-item">
                  <img src="assets/images/vtt2.jpg" alt="Item 5">
                  <h4>VTT Enfant</h4>
                  <h6>300€</h6>
                  <div  class="main-button" align="right">
                    <a href="{{ path('BMX') }}">Panier</a>
                  </div>
                </div>
              </a>
            </div>
            <div id="6" class="item new col-md-4">
                <div class="featured-item">
                  <img src="assets/images/vtt3.jpg" alt="Item 6">
                  <h4>VTT</h4>
                  <h6>250€</h6>
                  <div  class="main-button" align="right">
                    <a href="{{ path('BMX') }}">Panier</a>
                  </div>
                </div>
              </a>
            </div>
            <div id="9" class="item new high col-md-4">
                <div class="featured-item">
                  <img src="assets/images/veloelectrique.jpg" alt="Item 9">
                  <h4>Electrique</h4>
                  <h6>950€</h6>
                  <div  class="main-button" align="right">
                    <a href="{{ path('BMX') }}">Panier</a>
                  </div>
                </div>
              </a>
            </div>
            <div id="7" class="item low new col-md-4">
                <div class="featured-item">
                  <img src="assets/images/electriquee.jpg" alt="Item 7">
                  <h4>Electrique</h4>
                  <h6>700€</h6>
                  <div  class="main-button" align="right">
                    <a href="{{ path('BMX') }}">Panier</a>
                  </div>
                </div>
              </a>
            </div>
            <div id="8" class="item new col-md-4">
                <div class="featured-item">
                  <img src="assets/images/rouge.jpg" alt="Item 8">
                  <h4>BMX</h4>
                  <h6>650€</h6>
                  <div  class="main-button" align="right">
                    <a href="{{ path('BMX') }}">Panier</a>
                  </div>
                </div>
              </a>
            </div>
        </div>
    </div>

    <!-- fin article -->


{% endblock %}
